<div class="container border bg-color box">
    <ul class="nav flex-column item1 box2">
        <li class="nav-item lst-border">
            <a class="nav-link active font-weight-bold">Overview</a>
        </li>
        <li class="nav-item lst-border ">
            <a class="nav-link font-weight-bold" routerLink="/account">Account Balance</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/deposit">Deposit Amount</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/withdraw">Withdraw Amount</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/transfer">Transfer Amount</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/statements">View Statements</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/transactions">View Transactions</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/logout">Exit</a>
        </li>

    </ul>


    <div class="item2 mt-5">
        <h2>Main Overview of the User operations</h2>
        <ul class="mt-4 ml-5">
            <li>A User can view the account balance</li>
            <li>User can deposit amount to an accont</li>
            <li>User can withdraw amount from an account</li>
            <li>User can transeer amount from one accont to another account</li>
            <li>User can view the statements</li>
            <li>User can view the transaction details </li>
            <li>And finally he can exit from the portal</li>
        </ul>
    </div>


</div>