<div class="container border bg-color">
    <div *ngIf="!flip">
        <h2 class="mt-5 ml-5">Statements</h2>
        <div class="form-group">
            <label for="sa" class="ml-5 mt-2">Enter Account Id :</label>
            <input type="text" #aid class="form-control ml-5 ip-size" id="sa">
        </div>
        <div class="form-group">
            <label for="fd" class="ml-5 mt-2">Enter From Date :</label>
            <input type="text" #fd class="form-control ml-5 ip-size" id="fd">
        </div>
        <div class="form-group">
            <label for="td" class="ml-5 mt-2">Enter To Date :</label>
            <input type="text" #td class="form-control ml-5 ip-size" id="td">
        </div>
        <button type="button" class="btn btn-primary ml-5 mt-3 btn-width"
            (click)="getStmts(aid.value,fd.value,td.value)">Fetch</button>

    </div>

    <div *ngIf="flip">
        <h3 class="mt-5 ml-5">Statements</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Statement Id</th>
                    <th>Account Id</th>
                    <th>Date</th>
                    <th>Ref No</th>
                    <th>Value Date</th>
                    <th>withdrawal</th>
                    <th>Deposit</th>
                    <th>Closing Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of stms">
                    <td>{{s.statementId}}</td>
                    <td>{{s.accountId}}</td>
                    <td>{{s.date}}</td>
                    <td>{{s.refno}}</td>
                    <td>{{s.valueDate}}</td>
                    <td>{{s.withdrawal}}</td>
                    <td>{{s.deposit}}</td>
                    <td>{{s.closingBalance}}</td>
                </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-primary ml-5 mt-3 back-btn" routerLink="/customer-portal">Back</button>
        <button type="button" class="btn btn-primary ml-5 mt-3 exit-btn" routerLink="/logout">Exit</button>
    </div>
</div>