<div class="container border bg-color">
    <div *ngIf="!flip">
        <h3 class="mt-5 ml-5">Account Details</h3>
        <div class="form-group">
            <label for="acc" class="ml-5 mt-2">Enter your Account id:</label>
            <input type="text" #aidrf class="form-control ml-5 ip-size" id="acc">
        </div>
        <button type="button" class="btn btn-primary ml-5 mt-3 btn-width" (click)="getAccData(aidrf.value)">Get</button>
    </div>
    <div *ngIf="flip">
        <h2 class="mt-5 ml-5">Your Account Details</h2>
        <dl class="ml-5 mt-2">
            <dt>Account Id :</dt>
            <dd>{{acc.accountId}}</dd>
            <dt>Customer Id :</dt>
            <dd>{{acc.customerId}}</dd>
            <dt>Account Type :</dt>
            <dd>{{acc.accountType}}</dd>
            <dt>Balance :</dt>
            <dd>{{acc.balance}}</dd>
            <dt>Minimum Balance :</dt>
            <dd>{{acc.minBalance}}</dd>
        </dl>
        <button type="button" class="btn btn-primary ml-5 mt-3 back-btn"
            [routerLink]="ce===1?['/customer-portal']:['/employee-portal']">Back</button>
        <button type="button" class="btn btn-primary ml-5 mt-3 exit-btn"
            [routerLink]="ce===1?['/logout']:['/emp-logout']">Exit</button>
    </div>
</div>