<div class="container border bg-color box">
    <ul class="nav flex-column item1 box2">
        <li class="nav-item lst-border">
            <a class="nav-link active font-weight-bold">Overview</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/create-customer">Create Customer</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/customer">View Customer</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/all-customers">All Customers</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/customer-accounts">Customer Accounts</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/all-customer-accounts">All Customer Accounts</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/account">Account Balance</a>
        </li>
        <li class="nav-item lst-border">
            <a class="nav-link font-weight-bold" routerLink="/emp-logout">Exit</a>
        </li>

    </ul>

    <div class="item2 mt-5">
        <h2>Overview of the Bank Employee operations</h2>
        <ul class="mt-4 ml-5">
            <li>Employee create the user</li>
            <li>Employee can view the user</li>
            <li>Employee can view all the users</li>
            <li>Employee can view the customer accounts</li>
            <li>Employee can view all the customer accounts</li>
            <li>Employee can view the the account Balance</li>
            <li>And finally he can exit from the portal</li>
        </ul>
    </div>


</div>